body {
    background-color: #f5f5f5;
}

.container-fluid {
    background-color: rgb(155, 160, 158);
    min-height: 100vh;
}

@media (width>992px){
    search-bar { width: 50%;}
}

.binds {
    min-height: 40px;
}

.binder {
    padding-top: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

}

.borderr {
    border: 5px solid rgb(207, 207, 203);
    min-height: 850px;
    margin-top: 80px; 
}

/*
.compose-button {
    border-radius: 15%;
    outline: auto;
    outline-style: round;
}
*/

.mailbox-name {
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
}


.mailbox {
    background-color: #fafafa;
}

.toolbar{
    background-color: #f5f5f5;
}

.toolbar input[type="text"] {
    min-width: 80%;
}

.gms-btn {
    display: flex;
    padding: 0;
    border: 0;
    background: transparent;
}

.gms-lg {
    font-size: 2rem;
}

#offcanvas-menu {
    padding: 2rem;
}

#offcanvas-menu.show {
    max-width: calc(100vw - 4rem);
    background-color: #f5f5f5
}

.email-message {
    min-width: 0;
    background-color: #f2f2f2;
}

.email-message .sender {
    font-size: 1.15rem;
    font-weight: bold;
}

.email-message .subject {
    font-size: 1rem;
    font-weight: bold;
}

.email-message p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 1.5;
}

.preview .subject {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}

.preview .sender {
    font-size: 1rem;
    font-weight: bold;
}

#new-mail .input-wrap {
    width: 100%;
    display: flex;
    align-items: baseline;
}

#new-mail .input-wrap input {
    width: 100%;
    flex-grow: 1;
}

#new-mail .input-wrap label {
    color: #767676;
    margin-right: 2px;
}

#new-mail input[type="text"] {
    border: none;
}

#new-mail input[type="text"]:focus {
    outline: none;
}

#new-mail textarea {
    width: 100%;
    min-height: 175px;
    border: none;
    resize: none;
    font-size: 14px;
}

#new-mail textarea:focus {
    outline: none;
}

.scroll-bar {
    overflow-y: auto;
    max-height: 800px;
}


.menu-option h4 {
    font-size: 22px;
    font-style: bold;
}

.menu-option {
    background: none;
    border: none;
    margin-bottom: 15px;
    padding: 0;
    
}

.menu-option span {
    color: rgb(155, 160, 158);
    padding: 10px;
}

.menu-option:hover span{
    color: rgb(51, 49, 49);

}

.menu-option.active-mailbox span {
    color: rgb(51, 49, 49);
}
